.verb-chart, .pronoun-chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    margin: auto auto;
    border-radius: 10px;
    width: 100%;
    gap: 20px;
}

#chart-box {
    width: 40%;
    height: auto;
    min-width: 400px;
    background-color: #555;
    text-align: center;
    border-radius: 10px;
    padding: 15px 0;
    margin-top: 20px;
}

.verb-ending, .pronoun {
    padding: 5% 0%;
    margin: 0 10%;
    text-align: center;
    border-radius: 10px;
    background-color: #E6AA68;

}

#top-left, #mid-left, #bot-left {
    margin-right: 0%;
}

#top-right, #mid-right, #bot-right {
    margin-left: 0%;
}

.verb-ending {
    font-size: xx-large;
}

.pronoun {
    font-size: x-large;
}